<div class="maintenance-tabs">
    <div class="tab-group" (mouseenter)="open='wasser'" (mouseleave)="open=null">
        Wasserversorgung <span class="dropdown-icon">▼</span>
        <div class="dropdown" *ngIf="open === 'wasser'">
            <a routerLink="/versorgung/erfassung">Erfassung</a>
            <a routerLink="/versorgung/registrierung">Registrierung</a>
            <a routerLink="/versorgung/wechsel">Wechsel</a>
        </div>
    </div>

    <div class="tab-group" (mouseenter)="open='strom'" (mouseleave)="open=null">
        Elektroversorgung <span class="dropdown-icon">▼</span>
        <div class="dropdown" *ngIf="open === 'strom'">
            <a routerLink="/strom/erfassung">Erfassung</a>
            <a routerLink="/strom/registrierung">Registrierung</a>
            <a routerLink="/strom/wechsel">Wechsel</a>
        </div>
    </div>

    <div class="tab-group">
        <a routerLink="/entsorgung">Entsorgung</a>
    </div>
</div>