<mat-drawer-container class="app-container" autosize>

  <!-- SIDEBAR -->
  <mat-drawer mode="side" opened class="app-sidenav" [ngClass]="{ 'mini': !sidebarOpened }"
    style="border-radius: unset !important; border-right: 1px solid #545454;">
    <!-- Logo & Burger im Sidebar -->
    <div [ngClass]="{ 'sidebar-logo-close': !sidebarOpened, 'sidebar-logo-open': sidebarOpened }">
      <ng-container *ngIf="sidebarOpened; else miniSidebar">
        <img src="assets/Logo/Logo_lang_nbg.png" alt="Sidebar-Logo" class="logo" />
        <button mat-icon-button (click)="toggleSidebar()" aria-label="Toggle Sidebar">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-container>
      <ng-template #miniSidebar>
        <button mat-icon-button (click)="toggleSidebar()" aria-label="Toggle Sidebar">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-template>
    </div>

    <!-- Navigation -->
    <mat-nav-list>
      <mat-list-item [routerLink]="'/verein'" routerLinkActive="active">
        <div [ngClass]="{ 'centered-item': !sidebarOpened, 'aligned-item': sidebarOpened }">
          <mat-icon>home</mat-icon>
          <span class="nav-label" *ngIf="sidebarOpened">Verein</span>
        </div>
      </mat-list-item>
      <mat-list-item [routerLink]="'/personen'" routerLinkActive="active">
        <div [ngClass]="{ 'centered-item': !sidebarOpened, 'aligned-item': sidebarOpened }">
          <mat-icon>groups</mat-icon>
          <span class="nav-label" *ngIf="sidebarOpened">Personen</span>
        </div>
      </mat-list-item>
      <mat-list-item [routerLink]="'/parzellen'" routerLinkActive="active">
        <div [ngClass]="{ 'centered-item': !sidebarOpened, 'aligned-item': sidebarOpened }">
          <mat-icon>yard</mat-icon>
          <span class="nav-label" *ngIf="sidebarOpened">Parzellen</span>
        </div>
      </mat-list-item>
      <mat-list-item [routerLink]="'/finanzen'" routerLinkActive="active">
        <div [ngClass]="{ 'centered-item': !sidebarOpened, 'aligned-item': sidebarOpened }">
          <mat-icon>account_balance</mat-icon>
          <span class="nav-label" *ngIf="sidebarOpened">Finanzen</span>
        </div>
      </mat-list-item>


      <!-- Untermenü -->
      <mat-list-item (click)="toggleVersorgung()" [ngClass]="{ 'active': isVersorgungActive() }">
        <div [ngClass]="{ 'centered-item': !sidebarOpened, 'aligned-item': sidebarOpened }">
          <mat-icon>water_drop</mat-icon>
          <span class="nav-label" *ngIf="sidebarOpened">Versorgung</span>
          <span *ngIf="sidebarOpened" class="expand-icon">
            <mat-icon>{{ isVersorgungOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
          </span>
        </div>
      </mat-list-item>

      <div *ngIf="isVersorgungOpen" class="submenu">
        <mat-list-item [routerLink]="'/versorgung/wasser'" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" class="sub-item">
          <div [ngClass]="{ 'centered-item': !sidebarOpened, 'aligned-item': sidebarOpened }">
            <mat-icon>water</mat-icon>
            <span class="nav-label" *ngIf="sidebarOpened">Wasserversorgung</span>
          </div>
        </mat-list-item>

        <mat-list-item [routerLink]="'/versorgung/strom'" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" class="sub-item">
          <div [ngClass]="{ 'centered-item': !sidebarOpened, 'aligned-item': sidebarOpened }">
            <mat-icon>bolt</mat-icon>
            <span class="nav-label" *ngIf="sidebarOpened">Stromversorgung</span>
          </div>
        </mat-list-item>

        <mat-list-item [routerLink]="'/versorgung/entsorgung'" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" class="sub-item">
          <div [ngClass]="{ 'centered-item': !sidebarOpened, 'aligned-item': sidebarOpened }">
            <mat-icon>delete</mat-icon>
            <span class="nav-label" *ngIf="sidebarOpened">Entsorgung</span>
          </div>
        </mat-list-item>
      </div>


      <mat-list-item [routerLink]="'/aufgaben'" routerLinkActive="active">
        <div [ngClass]="{ 'centered-item': !sidebarOpened, 'aligned-item': sidebarOpened }">
          <mat-icon>content_paste</mat-icon>
          <span class="nav-label" *ngIf="sidebarOpened">Aufgaben</span>
        </div>
      </mat-list-item>
      <mat-list-item [routerLink]="'/einstellungen'" routerLinkActive="active">
        <div [ngClass]="{ 'centered-item': !sidebarOpened, 'aligned-item': sidebarOpened }">
          <mat-icon>settings</mat-icon>
          <span class="nav-label" *ngIf="sidebarOpened">Einstellungen</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <!-- CONTENT -->
  <mat-drawer-content class="app-content">
    <header class="app-header">
      <div class="header-left">
        <ng-container *ngIf="!sidebarOpened">
          <img src="assets/Logo/Logo_lang_nbg.png" alt="Header-Logo" class="logo" />
        </ng-container>
        <h2 class="page-title">{{ pageTitle }}</h2>

      </div>
      <div class="header-right">
        <button mat-icon-button aria-label="User">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button aria-label="Settings">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </header>

    <div class="scrollable-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>
</mat-drawer-container>