html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* styles.scss – global */
.success-snackbar {
  background-color: #00c8c8 !important;
  color: red !important;
  font-weight: bold;
  border-radius: 4px;
}

/* Globale Tabelle in dunklem Layout */
.table-wrapper .mat-mdc-table {
  background-color: #1e1e1e !important;
  color: #fff !important;
}

.table-wrapper .mat-mdc-header-cell,
.table-wrapper .mat-mdc-cell {
  background-color: #1e1e1e !important;
  color: #fff !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.table-wrapper .mat-mdc-row:hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.table-wrapper .mat-mdc-paginator {
  background-color: #1e1e1e !important;
  color: #fff !important;
}

  .mat-mdc-paginator-page-size {
    display: none !important;
  }